<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.ysd.dao.RolesMapper">
	   <resultMap type="Roles" id="selectRole">
 		<id property="role_id" column="role_id"/>
 		<result property="role_name" column="role_name"/>
 		<result property="modules.module_id" column="module_id"/>
 		<result property="modules.module_name" column="module_name"/>
 		<result property="modules.parent_id" column="parent_id"/>
 		<result property="modules.path" column="path"/>
 		<result property="modules.weight" column="weight"/>
 		<result property="rolemodules.role_id" column="role_id"/>
 		<result property="rolemodules.module_id" column="module_id"/>
 	</resultMap> 
	<!-- 查询总条数 -->
	<select id="selectCountRoles" parameterType="fenye" resultType="int">
	  select count(*) from roles
	</select>
	<!-- 查询总数据 -->
	<select id="selectShowAll" parameterType="fenye" resultType="roles">
	 select * from roles
		<where>
		<if test="roles.role_name!=null and roles.role_name!=''">
		  and roles.role_name like "%"#{roles.role_name}"%"
		</if>
		</where>
	limit #{page},#{pageSize}
	</select>
	<!-- 删除 -->
	<delete id="delRoles" parameterType="int">
	delete from roles where role_id=#{role_id}
	</delete>
	<!--添加  -->
	<insert id="addRoles" parameterType="roles">
	insert into roles(role_name) values(#{role_name});
	</insert>
	<!--修改  -->
	<update id="UpdateRoles" parameterType="roles">
	update roles 
		<set>
		 role_name=#{role_name}
		</set>
		<where>
		role_id=#{role_id}
		</where>
	</update>
	<!-- 根据角色名查询当前角色的权限 -->
	 <select id="selectRolesByIdQX" parameterType="int" resultType="modules">
		 SELECT * from  rolemodules WHERE role_id=#{role_id}
	</select> 
	<insert id="addRolesQX" parameterType="rolemodules">
	  INSERT INTO rolemodules(role_id,module_id)VALUES(#{role_id},#{module_id})
	</insert>
	<insert id="delRolesQX" parameterType="int">
		delete from rolemodules where role_id=#{role_id}
	</insert>
	</mapper>