<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.dao.Sign_inMapper">
	<!-- 签到 -->
	<insert id="addSign_in" parameterType="sign_in">
	insert into sign_in(user_id,create_time,sign_in_end_time,start)values(#{user_id},#{create_time},#{sign_in_end_time},#{start})
	</insert>
	<!-- 签到成功：修改用户签到状态 -->
	<update id="UpdateUserSignstate" parameterType="sign_in">
		update users 
		<set>
				sign_in_state='1',sign_state='0'
		</set>
		<where>
				user_id=#{user_id}
		</where>
	</update>
	<!-- 查询当天是否已经签到 -->
	<select id="selectBySigntime" parameterType="sign_in" resultType="sign_in"> 
	select * from sign_in where user_id=#{user_id} and create_time like #{create_time}"%"
	</select>
	<!--签退  -->
	<update id="updateSign" parameterType="sign_in">
	update sign_in set sign_in_end_time=#{sign_in_end_time},endstart=#{endstart} where sign_in_id=#{sign_in_id}
	</update>
	<!-- 签退成功：修改用户签到状态 -->
	<update id="UpdateUserSignstateIn" parameterType="sign_in">
		update users 
		<set>
				sign_in_state='0',sign_state='2'
		</set>
		<where>
				user_id=#{user_id}
		</where>
	</update>
   <!--  根据用户id查询签到数据 -->
	<select id="selectSignByUserid" parameterType="sign_in" resultType="sign_in">
  			select * from sign_in where sign_in_id=#{sign_in_id} and user_id=#{user_id}
  		</select>
  	 <!--查询该用户当天签到信息 -->	
  		<select id="selectSignByUserids" parameterType="sign_in" resultType="sign_in">
  			select * from sign_in where user_id=#{user_id} and create_time>#{create_time}
  		
  		</select>
	<!-- 批量签退 -->
	<update id="upsignon" parameterType="int">
		update users
		<set>
				sign_in_state='0'
		</set>
		<where>
				user_id=#{user_id}
		</where>
	</update>
	
	<!-- 查询当天签到的员工集合 -->
	<select id="SelectAllSignEmpByDayCount" parameterType="fenye" resultType="int">
		SELECT COUNT(user_id) FROM users 
<!-- 		<where>
			and s.create_time &gt;#{sign_ins.startcreate_time} and #{sign_ins.endcreate_time}&gt; s.create_time 
		</where> -->
	</select>
	<!-- <resultMap type="sign_in" id="signEmpByDay">
		<id property="sign_in_id" column="sign_in_id"/>
 		<result property="start" column="start"/>
 		<result property="endstart" column="endstart"/>
 		<result property="users.user_id" column="user_id"/>
 		<result property="users.login_name" column="login_name"/>
 		<result property="users.sign_in_state" column="sign_in_state"/>
	</resultMap> -->
	<select id="SelectAllSignEmpByDay" parameterType="fenye" resultType="users">
		SELECT * FROM users u
<!-- 		<where>
			and s.create_time &gt;#{sign_ins.startcreate_time} and  #{sign_ins.endcreate_time}&gt; s.create_time 
		</where> -->
		limit #{page},#{pageSize}
	</select>
	<!-- 每天签到统计图 -->
	<select id="SignEmpByDayCountAll" resultType="int">
	select count(user_id) from users
	</select>
	<select id="SignEmpByDayCountQD" parameterType="sign_in" resultType="int">
		SELECT COUNT(distinct u.user_id) FROM users u,sign_in s
		<where>
			and s.create_time &gt;#{startcreate_time} and #{endcreate_time}&gt; s.create_time and u.user_id=s.user_id
		</where>
	</select>
	<select id="SignEmpByDayCountWQD" parameterType="sign_in" resultType="int">
	SELECT COUNT(distinct u.user_id) FROM users u,sign_in s
		<where>
			and s.create_time &gt;#{startcreate_time} and #{endcreate_time}&gt; s.create_time and u.user_id!=s.user_id
		</where>
	</select>
	<select id="SignEmpByDayCountZC" parameterType="sign_in" resultType="int">
	SELECT COUNT(distinct u.user_id) FROM users u,sign_in s
		<where>
			and s.create_time &gt;#{startcreate_time} and #{endcreate_time}&gt; s.create_time and u.user_id=s.user_id and s.start='正常'
		</where>
	</select>
	<select id="SignEmpByDayCountZT" parameterType="sign_in" resultType="int">
	SELECT COUNT(distinct u.user_id) FROM users u,sign_in s
		<where>
			and s.create_time &gt;#{startcreate_time} and #{endcreate_time}&gt; s.create_time and u.user_id=s.user_id and s.endstart='早退'
		</where>
	</select>
	<select id="SignEmpByDayCountCD" parameterType="sign_in" resultType="int">
	SELECT COUNT(distinct u.user_id) FROM users u,sign_in s
		<where>
			and s.create_time &gt;#{startcreate_time} and #{endcreate_time}&gt; s.create_time and u.user_id=s.user_id and s.start='迟到'
			</where>
	</select>
</mapper>