<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.dao.StudentsMapper">
  <select id="selectCountStu" parameterType="fenye" resultType="int">
       select count(student_id) from students
  </select>
  <!--  分页查询所有学生数据 -->
  <select id="selectAllStu" parameterType="fenye" resultType="students">
     select * from students
      <where>
        <if test="students.name!=null and students.name!=''">
          and  students.name like "%"#{students.name}"%"
        </if>
        <if test="students.sex!=null and students.sex!=''">
           and students.sex =#{students.sex}
        </if>
        <if test="students.education!=null and students.education!=''">
           and students.education =#{students.education}
        </if>
         <if test="students.area!=null and students.area!=''">
           and students.area =#{students.area}
        </if>
        <if test="students.sources!=null and students.sources!=''">
           and students.sources =#{students.sources}
        </if>
         <if test="students.startcreat_time!=null and students.startcreat_time!=''">
           and students.create_time &gt;=#{students.startcreat_time}
        </if>
        <if test="students.endcreat_time!=null and students.endcreat_time!=''">
           and students.create_time &lt;=#{students.endcreat_time}
        </if>
        <if test="students.refer_user_id!=null and students.refer_user_id!=''">
	  		and students.refer_user_id=#{students.refer_user_id}
	  	</if>
	  	and Is_invalid='有效' ORDER BY students.student_id DESC
     </where>
      limit #{page},#{pageSize}
  </select>
<!--   查询所有的用户 -->
  <select id="selectUserName" resultType="users" >
      select login_name from users
  </select>
   <!--添加学生 -->
  <insert id="addStu" parameterType="students">
       insert into students(name,age,sex,education,state,phone,qq,we_chat,area,sources,create_time,refer_user_id)values(#{name},#{age},#{sex},#{education},#{state},#{phone},#{qq},#{phone},#{area},#{sources},#{create_time},#{refer_user_id})
  </insert>
  <!--批量分配咨询师 -->
  <update id="updateUserId" parameterType="int">
       update students set refer_user_id=#{refer_user_id} where student_id=#{student_id}
  </update>
  <!-- 将学生的有效状态改为失效状态 -->
  <delete id="delStu" parameterType="int">
     update students set Is_invalid='无效'  where student_id=#{student_id}
  </delete>
  
  
  <!-- 查询网络学生总数量 -->
  <select id="selectCountMyStu" parameterType="fenye" resultType="int">
  	select count(*) from students
  	<where>
  		<if test="students.name!=null and students.name!=''">
  			and name like "%"#{students.name}"%"
  		</if> 
  		<if test="students.sex!=null and students.sex!=''">
  			and sex =#{students.sex}
  		</if>
  		<if test="students.startcreat_time!=null and students.startcreat_time!=''">
  			and create_time &gt;=#{students.startcreat_time}
  		</if>
  		<if test="students.endcreat_time!=null and students.endcreat_time!=''">
  			and create_time &lt;=#{students.endcreat_time}
  		</if>
  		<if test="students.refer_user_id!=null and students.refer_user_id!=''">
	  		and refer_user_id=#{students.refer_user_id}
	  	</if>
  		and network_user_id=#{students.network_user_id}
  	</where>
  </select>
  <!-- 查询所有网络学生集合 -->
  <resultMap type="students" id="studentsUserList">
  	<id column="student_id" property="student_id"/>
  	<result column="name" property="name"/>
  	<result column="age" property="age"/>
  	<result column="sex" property="sex"/>
  	<result column="phone" property="phone"/>
  	<result column="education" property="education"/>
  	<result column="state" property="state"/>
  	<result column="qq" property="qq"/>
  	<result column="area" property="area"/>
  	<result column="sources" property="sources"/>
  	<result column="source_site" property="source_site"/>
  	<result column="sourcekeyword" property="sourcekeyword"/>
  	<result column="is_report" property="is_report"/>
  	<result column="course" property="course"/>
  	<result column="remark" property="remark"/>
  	<result column="refer_user_id" property="users.user_id"/>
  	<result column="login_name" property="users.login_name"/>
  </resultMap>
  <select id="selectAllMyStu" parameterType="fenye" resultMap="studentsUserList">
	  select * from students s,users u
	  	<where>
	  		<if test="students.name!=null and students.name!=''">
  			and name like "%"#{students.name}"%"
	  		</if> 
	  		<if test="students.sex!=null and students.sex!=''">
	  			and sex =#{students.sex}
	  		</if>
	  		<if test="students.startcreat_time!=null and students.startcreat_time!=''">
	  			and create_time &gt;=#{students.startcreat_time}
	  		</if>
	  		<if test="students.endcreat_time!=null and students.endcreat_time!=''">
	  			and create_time &lt;=#{students.endcreat_time}
	  		</if>
	  		<if test="students.refer_user_id!=null and students.refer_user_id!=''">
	  			and refer_user_id=#{students.refer_user_id}
	  		</if>
	  		and s.network_user_id=#{students.network_user_id} and s.network_user_id=u.user_id ORDER BY s.student_id DESC
	  	</where>
	  	limit #{page},#{pageSize}
  </select>
  
  <!-- 查询已分配的学生 -->
  <select id="selectYifenpeiStuCount" parameterType="fenye" resultType="int">
  	 select count(*) from students s,users u where  s.refer_user_id=u.user_id and Is_invalid='有效'
  </select>
  <select id="selectYifenpeiStu" parameterType="fenye" resultMap="studentsUserList">
        select * from students s,users u
       <where>
        <if test="students.name!=null and students.name!=''">
          and  s.name like "%"#{students.name}"%"
        </if>
         <if test="students.startcreat_time!=null and students.startcreat_time!=''">
           and s.create_time &gt;=#{students.startcreat_time}
        </if>
        <if test="students.endcreat_time!=null and students.endcreat_time!=''">
           and s.create_time &lt;=#{students.endcreat_time}
        </if>
        <if test="students.refer_user_id!=null and students.refer_user_id!=''">
	  		and s.refer_user_id=#{students.refer_user_id}
	  	</if>
      and s.refer_user_id=u.user_id and s.Is_invalid='有效'
     </where>
        limit #{page},#{pageSize}
  </select>
  <!-- 查询未分配的学生 -->
  <select id="selectWeifenpeiStu" parameterType="fenye" resultType="students">
    select * from students 
    <where>
     <if test="students.name!=null and students.name!=''">
          and  name like "%"#{students.name}"%"
        </if>
         <if test="students.startcreat_time!=null and students.startcreat_time!=''">
           and create_time &gt;=#{students.startcreat_time}
        </if>
        <if test="students.endcreat_time!=null and students.endcreat_time!=''">
           and create_time &lt;=#{students.endcreat_time}
        </if>
      and Is_invalid='有效'  and  refer_user_id is null 
    </where>
        limit #{page},#{pageSize}
  </select>
  
  <!-- 查询所有的咨询师，注：是咨询师，别看错 -->
  <select id="selectAllRolesUsers" resultType="users">
  SELECT u.user_id,u.login_name FROM users u,roles s,userroles us WHERE u.user_id=us.user_id AND us.role_id=s.role_id AND s.role_name='咨询师' and u.sign_in_state='1'
  </select>
  <insert id="addNetWorkStu" parameterType="students">
  	insert into students
  	<trim prefix="(" suffix=")" suffixOverrides="," >
  		<if test="name!=null and name!=''">
  			name,
  		</if>
  		<if test="age!=null and age!=''">
  			age,
  		</if>
  		<if test="sex!=null and sex!=''">
  			sex,
  		</if>
  		<if test="phone!=null and phone!=''">
  			phone,
  		</if>
  		<if test="education!=null and education!=''">
  			education,
  		</if>
  		<if test="state!=null and state!=''">
  			state,
  		</if>
  		<if test="sources!=null and sources!=''">
  			sources,
  		</if>
  		<if test="source_site!=null and source_site!=''">
  			source_site,
  		</if>
  		<if test="sourcekeyword!=null and sourcekeyword!=''">
  			sourcekeyword,
  		</if>
  		<if test="qq!=null and qq!=''">
  			qq,
  		</if>
  		<if test="we_chat!=null and we_chat!=''">
  			we_chat,
  		</if>
  		<if test="is_report!=null and is_report!=''">
  			is_report,
  		</if>
  		<if test="remark!=null and remark!=''">
  			remark,
  		</if>
  		<if test="refer_user_id!=null and refer_user_id!=''">
  			refer_user_id,
  		</if>
  		<if test="network_user_id!=null and network_user_id!=''">
  			network_user_id
  		</if>
  	</trim>
  	<trim prefix="values (" suffix=")" suffixOverrides="," >
  		<if test="name!=null and name!=''">
  			#{name},
  		</if>
  		<if test="age!=null and age!=''">
  			#{age},
  		</if>
  		<if test="sex!=null and sex!=''">
  			#{sex},
  		</if>
  		<if test="phone!=null and phone!=''">
  			#{phone},
  		</if>
  		<if test="education!=null and education!=''">
  			#{education},
  		</if>
  		<if test="state!=null and state!=''">
  			#{state},
  		</if>
  		<if test="sources!=null and sources!=''">
  			#{sources},
  		</if>
  		<if test="source_site!=null and source_site!=''">
  			#{source_site},
  		</if>
  		<if test="sourcekeyword!=null and sourcekeyword!=''">
  			#{sourcekeyword},
  		</if>
  		<if test="qq!=null and qq!=''">
  			#{qq},
  		</if>
  		<if test="we_chat!=null and we_chat!=''">
  			#{we_chat},
  		</if>
  		<if test="is_report!=null and is_report!=''">
  			#{is_report},
  		</if>
  		<if test="remark!=null and remark!=''">
  			#{remark},
  		</if>
  		<if test="refer_user_id!=null and refer_user_id!=''">
  			#{refer_user_id},
  		</if>
  		<if test="network_user_id!=null and network_user_id!=''">
  			#{network_user_id}
  		</if>
  	</trim>
  </insert>
  <!-- 修改 -->
  <update id="updateStudent" parameterType="students">
    update students set pay_time=#{pay_time},is_pay=#{is_pay},amount=#{amount},is_refund=#{is_refund},refund_reason=#{refund_reason},
    is_class_entry=#{is_class_entry},class_entry_time=#{class_entry_time},class_entry_remark=#{class_entry_remark},is_deposit=#{is_deposit},
    deposit_amount=#{deposit_amount},deposit_time=#{deposit_time} where student_id=#{student_id}
  </update>
  
 <!-- 查询咨询师下的我的学生总数 --> 
 <select id="selectCountZXSMyStu" parameterType="fenye" resultType="int">
  	select count(*) from students
 </select>
  <!-- 查询咨询师下的我的学生集合 -->
  <select id="selectAllZXSMyStu" parameterType="fenye" resultMap="studentsUserList">
     select * from students s,users u
	  	<where>
	  		<if test="students.name!=null and students.name!=''">
  			and name like "%"#{students.name}"%"
	  		</if> 
	  		<if test="students.sex!=null and students.sex!=''">
	  			and sex =#{students.sex}
	  		</if>
	  		<if test="students.startcreat_time!=null and students.startcreat_time!=''">
	  			and create_time &gt;=#{students.startcreat_time}
	  		</if>
	  		<if test="students.endcreat_time!=null and students.endcreat_time!=''">
	  			and create_time &lt;=#{students.endcreat_time}
	  		</if>
	  		<if test="students.refer_user_id!=null and students.refer_user_id!=''">
	  			and refer_user_id=#{students.refer_user_id}
	  		</if>
	  		and s.refer_user_id=#{students.refer_user_id} and s.refer_user_id=u.user_id ORDER BY s.student_id DESC
	  	</where>
	  	limit #{page},#{pageSize}
  </select>
</mapper>