<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ysd.dao.UserrolesMapper">
	<select id="selectUsersCounts" parameterType="fenye" resultType="int">
		select count(*) from users u,userroles ur,roles r where u.user_id=ur.user_id and r.role_id=ur.role_id AND (r.role_name='网络咨询师' or r.role_name='咨询师')
	</select>
	<!-- 查询总数据 -->
	<select id="selectShowAllUsers" parameterType="fenye" resultType="users"> 
	select u.* from users u,userroles ur,roles r 
	<where>
	  <if test="users.login_name!=null and users.login_name!=''">
	    and u.login_name like "%"#{users.login_name}"%"
	  </if>
	   <if test="users.allotSetting!=null and users.allotSetting!=''">
	    and u.allotSetting = #{users.allotSetting}
	   </if>
	     <if test="users.sign_in_state!=null and users.sign_in_state!=''">
	     and u.sign_in_state = #{users.sign_in_state}
	    </if>
	   <if test="users.startcreat_time>0">
	    and u.create_time &gt;=#{users.startcreat_time}
	   </if>
	    <if test="users.endcreat_time>0">
	    and u.create_time &lt;=#{users.endcreat_time}
	  </if>
	  and u.user_id=ur.user_id and r.role_id=ur.role_id AND (r.role_name='网络咨询师' or r.role_name='咨询师')
	</where>
	limit #{page},#{pageSize}
	</select>
	<!-- 关闭分量 -->
	<update id="CloseAllotSetting" parameterType="int">
		update users
		<set>
			allotSetting='0'
		</set>
		<where>
			user_id=#{user_id}
		</where>
	</update>
	<!-- 开启分量 -->
	<update id="OpenAllotSetting" parameterType="int">
		update users
		<set>
			allotSetting='1'
		</set>
		<where>
			user_id=#{user_id}
		</where>
	</update>
</mapper>